[submodule "externals/ResolutionBuddy"]
	path = externals/ResolutionBuddy
	url = git@github.com:dmanning23/ResolutionBuddy.git
[submodule "externals/MatrixExtensions"]
	path = externals/MatrixExtensions
	url = git@github.com:dmanning23/MatrixExtensions.git
